<div class="global-footer-holder">

    <footer class="global-footer">
        <div class="global-workmark-holder">
            <img src="/assets/expedia-wordmark.svg" alt="">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Explore</th>
                    <th>Policies</th>
                    <th>Help</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>About us</td>
                    <td>About India Travel Guide</td>
                    <td>Privacy Statement</td>
                    <td>Support</td>
                </tr>
                <tr>
                    <td>Jobs</td>
                    <td>Hotels in India</td>
                    <td>Terms of use</td>
                    <td>Change or cancel your booking</td>
                </tr>
                <tr>
                    <td>List your property</td>
                    <td>Holiday rentals in India</td>
                    <td>Vrbo terms and conditions</td>
                    <td>Refund process and timelines</td>
                </tr>
                <tr>
                    <td>Partnerships</td>
                    <td>Holiday packages in Inda</td>
                    <td></td>
                    <td>Book a flight using an airline credit</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Domestic Flights</td>
                    <td></td>
                    <td>International travel documents</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Car hire in India</td>
                </tr>
                <tr>
                    <td></td>
                    <td>All accomodation types</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Travel blog</td>
                </tr>
            </tbody>
        </table>
    </footer>

</div>